{
  "prettier/prettier": [
    "error",
    {
      "trailingComma": "es5",
      "bracketSpacing": true,
      "tabWidth": 2,
      "proseWrap": "preserve",
      "arrowParens": "avoid",
      "semi": true,
      "printWidth": 120,
      "endOfLine": "auto",
      "prettier.cssEnable": ["css", "less", "scss"]
    }
  ]
}
