.card {
  display: inline-block;
  background-color: rgb(202, 129, 231);
  border-radius: 10px;
  margin: 12px;
  padding: 0 6px 0 6px;
  border: none;
  height: 340px;
  transition: 0.8s;
}

.userdata {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.username {
  font-size: 125%;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
}

.userinfo {
  font-size: 110%;
  text-align: left;
  overflow: hidden;
}

.card:hover {
  background-color: rgba(56, 105, 220, 0.889);
  cursor: pointer;
  transform: scale(1.1);
}

.switch_field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}
